ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-menu {
    display: flex;
    border: 2px black solid;
    justify-content: flex-end;
    
}

.item {
    padding-left: 50px;
    padding-right: 50px;
    border: 2px black solid;
}